<div class="artist-search-results>
    <form method="POST" action="/search-artist">
        <h3>artist search results page!</h3>
        <label>
            <input type="text" name="artist" placeholder="Search for an artist" />
        </label>
        <button>Search</button>
    </form>
</div>