<div class="home-page">
    <h3>homepage!</h3>
    <form method="POST" action="/search-artist">
        <label>
            <input type="text" name="artist" placeholder="Search for an artist" />
        </label>
        <button>Search</button>
    </form>
</div>